server:
  port: 8085

spring:
  application:
    name: search-service
  
  elasticsearch:
    uris: ${ELASTICSEARCH_URL:http://localhost:9200}
  
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:elowen}
    password: ${RABBITMQ_PASSWORD:elowen123}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    root: INFO
    com.elowen.jobportal.search: DEBUG
